
@model ListViewModel<Founder>
@{
    Layout = "_List";
    ViewBag.Title = "Учредители";
}

@foreach (var founder in Model.Entities)
{
    <div class="col-6 mt-2">
        @await Html.PartialAsync("FounderCard", founder)
    </div>
}
