@model Company

@{
    ViewBag.Title = Model.Id == 0 ? "Добавление учредителя" : $"{Model.Name} - Редактирование";
}

@using (Html.BeginForm("Edit", "Company", FormMethod.Post, new { id = "founder-edit" }))
{
    @Html.HiddenFor(c => c.Id)
    <div class="form-group">
        <label asp-for="IsIndividual"></label>
        <div><span asp-validation-for="IsIndividual" class="text-danger"></span></div>
        <select asp-for="IsIndividual" class="form-control">
            <option value="">Тип компании</option>
            <option value="true">Индивидуальный предприниматель</option>
            <option value="false">Юридическое лицо</option>
        </select>
    </div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <div><span asp-validation-for="Name" class="text-danger"></span></div>
        <input asp-for="Name" class="form-control" />
    </div>

    <div class="form-group">
        <label asp-for="TaxpayerId"></label>
        <div><span asp-validation-for="TaxpayerId" class="text-danger"></span></div>
        <input asp-for="TaxpayerId" class="form-control" placeholder="10 цифр (12 для ИП)"
               value="@if (Model.TaxpayerId != 0)
               { @Model.TaxpayerId }" />
    </div>

    <div class="form-group" id="founders">
        <label for="founder-search">Учредители</label>
        <div><span asp-validation-for="CompanyFounders" class="text-danger"></span></div>
        <input type="search"
               name="founder-search"
               id="founder-search"
               autocomplete="off"
               class="form-control"
               placeholder="Поиск учредителя по ФИО и ИНН" />

        <ul class="list-group">
            @{
                Model.CompanyFounders = Model.CompanyFounders?.ToArray() ?? new CompanyFounder[0];
                for (int i = 0; i < Model.CompanyFounders.Count; i++)
                {
                    @Html.EditorFor(m => (Model.CompanyFounders as CompanyFounder[])[i]);
                }
            }
        </ul>
    </div>

    <div class="validation" asp-validation-summary="ModelOnly"></div>

    <div class="text-center">
        <input class="btn btn-primary" type="submit" value="Сохранить">
        <a asp-action="Index" class="btn btn-outline-danger">Отмена</a>
    </div>
}

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script src="~/lib/jquery.devbridge-autocomplete/jquery.autocomplete.min.js"></script>
    <script src="~/js/site.js"></script>

    <script>

        let ids = ["#TaxpayerId", "#FounderSearch", "#Name"];


        function onTypeChange() {
            var isIndividual = $(this).children("option:selected").val();

            console.log(isIndividual);

            if (isIndividual === true) {

            } else
                if (isIndividual === false) {

                }
                else {
                    $.each(ids, function (index, value) {
                        $(value).parent().hide();
                    });
                }
        }

        $("#IsIndividual").on("load", onTypeChange);

        $("#IsIndividual").change(onTypeChange);

    </script>
}

