@model ListViewModel<Company>
@{
    Layout = "_List";
    ViewBag.Title = "Компании";
}

@foreach (var company in Model.Entities)
{
    <div class="col-lg-6 col-12 mt-2">
        @await Html.PartialAsync("CompanyCard", company)
    </div>
}
