.autocomplete-suggestions {
    border: 1px solid #999;
    background: #FFF;
    overflow: auto;
    padding: .5rem 0;
    margin: .125rem 0 0;
    font-size: 1rem;
    color: #212529;
    text-align: left;
    list-style: none;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
}

.autocomplete-suggestion {
    padding: 2px 5px;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    width: 100%;
    padding: .25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: #212529;
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
    cursor: pointer;
}

.autocomplete-selected {
    color: #16181b;
    text-decoration: none;
    background-color: #f8f9fa;
}

.autocomplete-suggestions strong {
    font-weight: normal;
    color: #0056b3;
}

.autocomplete-group {
    padding: .25rem 1.5rem;
}

.autocomplete-group strong {
    display: block;
    border-bottom: 1px solid #000;
}
